.main{
    background-color: #52525b;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4rem;
    gap: 2rem;
}
.left
{
    width: 75%;
}
.right{
    width: 25%;
}
.right img{
    border-radius: 100%;
    box-shadow: 10px 10px;
}
